body  

.flex-container {
    width: min(100%, 500px);
    font-family: 'Trebuchet MS', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-size: clamp(12px, 5vw, 20px);
    height: 150x;
    } 

.link-container{ display: flex;
    justify-content: center;
    align-items: center;  
    height: 150x;
    
}
 .flex-item {
    font-family: 'Trebuchet MS', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin: 5px;
 align-items: center;
 justify-content: center;
 padding: 7x;
 background: rgb(255, 255, 255)  ; 
 height: 50px;
 font-size: clamp(12px, 5vw, 20px);
     }
    
    
    /* unvisited link */
     a:link {
            color: rgb(1, 1, 1);}
            /* visited link */
     a:visited {
        color: rgb(5, 5, 5);}
      

     



h1 
    {color: rgb(0, 3, 0);
    font-size: 35px; 
    text-align: center;
    font-size: clamp(12px, 5vw, 20px);
    font-family: 'Trebuchet MS', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

    
h2
    {color: rgb(0, 3, 0);
    font-size: 35px; 
    text-align: center;
    font-size: clamp(12px, 5vw, 20px);
    font-family: 'Trebuchet MS', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}


h2 
    {color: rgb(0, 3, 0);
    font-size: 35px; 
    text-align: center;
    font-size: clamp(12px, 5vw, 20px);
    font-family: 'Trebuchet MS', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}